.book-image {
    width: 150px; /* Уменьшите ширину изображения */
    height: auto; /* Сохраняем пропорции */
    border-radius: 8px; /* Добавляем скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  }